.Imj-Affiche {
    border: 1px solid red;
    padding: 200px;
    background-color: gray;
    text-align: center;
    line-height: 75px;
}

.Imj-Button {
    padding: 20px;
    font-size: 20px;
    color : white;
    background-color: blue;
    border: 1px solid blue;
    border-radius: 10px;
}


